# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# Development
.idea
.code-workspace
.vscode
.history

# Test
*.local
coverage

# Production
dist
dist-ssr

# Misc
.DS_Store

